.grid-container {
  display: grid;
  grid-template-columns: 25px 400px 400px 400px;
  grid-template-rows: 100px 350px 350px 350px 125px;
  grid-template-areas: "header header header header" "side-1 project-a project-b project-c" "side-1 project-d project-e project-f" "side-1 project-g project-h project-i" "side-1 footer footer footer";
  background: #DAE3E7;
  font-family: 'Lato', arial, sans-serif;
  color: #82888A;
 }
}

.header { grid-area: header; }

.side-1 { grid-area: side-1;}

.project-a { grid-area: project-a;}

.project-b { grid-area: project-b;}

.project-c { grid-area: project-c;}

.project-d { grid-area: project-d;}

.project-e { grid-area: project-e;}

.project-f { grid-area: project-f;}

.project-g { grid-area: project-g;}

.project-h { grid-area: project-h;}

.project-i { grid-area: project-i; }

.footer { grid-area: footer;}

img {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  margin-left: 100px;
  margin-bottom: 25px;
  margin-top: 10px;
  border: #82888A solid 5px;


}
.heading{
  text-align: center;
  color: #434343;
  margin-bottom: 10px;
  padding-top:20px;
}
.links {
  padding-top: 15px;
  text-align: center;

}



@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: orange;
    word-wrap:break-word;
    background-color: #343436;
  }
h2{
  margin-top: 25px;
  font-family: 'Righteous', cursive;
  font-size: 50px;
}
p
{
    margin: 0 0 10px;
}

ul
{
    list-style: none;
}
.headerone {
width:750px;
margin-left: 160px;
margin-top: 15px;
  background-color: white;
  border-top: 10px solid #778492;
  border-bottom: 10px solid #778492;
}
.container {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 0 20px;
    font-family: 'Righteous', cursive;
}
.sectionone {

      font-family: 'Righteous', cursive;
}

.btn {
  width: 80px;
  height: 35px;
  margin-right:30px;
  background: #82888A;
  margin-bottom: 50px;
  font-size: 14px;
  color: white;
  border: white solid 1px;
  font-family: 'Righteous', cursive;
  margin-bottom: 15px;

}
.websitebtn {
  width: 110px;
  text-align: center;
}
.backbutton {
  margin-top: 25px;
  margin-left: 25px;
}
.backbtn {
  width: 150px;
  text-align: center;

}

.links {
  padding-bottom: 50px;
}
</style>
